[run]
source = odm
concurrency = greenlet
omit =
    *odm/version.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
