.DS_Store
*.log
*.csv

#IDEs
.project
.pydevproject
.idea

#coverage
.coveralls-repo-token
.coverage
htmlcov
release-notes.md

#python
.eggs
*.pyc
__pycache__
pulsar_odm.egg-info
build
docs/_build
dist
rethinkclear.py
